
/* Main Nav menu */
.nav-container {
      display: flex;
      background-color: #160045;
      height: 60px;
      width: 100%; 
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0: 
      z-index: 1000;

}

nav ul {
   font-size: 20px;
    display: flex; 
    list-style-type: none;
    gap: 20px;

}

h1 {
  font-family: "Black Ops One";
  font-weight: 400;
  font-style: normal;
  display: block;
    font-size: 48px; 
    color: #ffffff;
    text-align: center;
    
   
}

h2 {
    font-size: 24px;
    color: #ffffff;
 font-family: "Black Ops One";
  font-weight: 400;
  font-style: normal;

}


p {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
    font-size: 16px;
    color:#ffffff

}

body {
  
  padding-top: 60px;
  background-color: #111111;
}

li {
    font-size: 16px;
    color:#ffffff;
  margin-bottom: 10px;
   
}

.responsive-img {
  width: 800px; 
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 2px 2px 10px blue;

}

.responsive-img {
  max-width: 100%;
  height: auto;
  /* Start off-screen to the left */
  transform: translateX(-100%);
  opacity: 0;
  animation: slideIn 1s ease forwards; /* play animation */
  animation-delay: 0.5s; /* optional delay */
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


Footer {
  display: flex;
  text-align: center;
 font-size: 16px;
color:#ffffff 

}

a {
  color: cyan;

}

a:hover {
  color:crimson;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px;
}




